fastapi[all]
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
python-dotenv
prisma
easyocr
Pillow
PyMuPDF
opencv-python-headless
spacy
torch
torchvision
numpy
transformers
sentencepiece
pytesseract
